<f:layout name="Default" />

<f:section name="main">
	<div class="directionsService">
		<h1><f:translate id="list.direction" /></h1>
		<form>

			<label for="from-zip"><f:translate id="directionsservice.from.zip" /></label>
			<input type="text" id="from-zip" name="from-zip" placeholder="ZIP" class="input-text" />

			<label for="from-city"><f:translate id="directionsservice.from.city" /></label>
			<input type="text" id="from-city" name="from-city" placeholder="City" class="input-text" />

			<label for="from-street"><f:translate id="directionsservice.from.street" /></label>
			<input type="text" id="from-street" name="from-street" placeholder="Street" class="input-text" />

			<button type="submit" id="searchButton" class="button"><f:translate id="list.search" /></button>
		</form>
		<a data-text-open="{f:translate(id:'list.map.open')}" class="js-toggle-map"><span href="#" class="ctx-btn-icon"><f:translate id="list.map.close" /></span></a>

		<div class="map-container">
			<div class="progress-indicator">
				<img src="/typo3conf/ext/store_locator/Resources/Public/Images/loader.gif" alt="" />
			</div>
			<div class="google-map" id="map"></div>
		</div>
		<div id="notification"></div>
		<div id="directions-panel"></div>

		<script type="text/javascript">
			<![CDATA[
				StoreLocatorOptions = {
					displayMode: "]]>{displayMode}<![CDATA[",

					labels: {
						notificationNoDealerFound: "]]>{f:translate(id:'locations.empty')}<![CDATA[",
					},

					markerIcon: "]]>{settings.marker.icon}<![CDATA[",
					useCustomInfoBox: ]]>{settings.infoWindow.useCustomInfoBox}<![CDATA[,
					region: "]]>{region}<![CDATA[",
					defaultStore: ]]>{defaultStore -> f:format.htmlentitiesDecode()}<![CDATA[,
				};
			//]]>
		</script>

		<f:render section="InitializeMin" partial="Javascript"/>
	</div>
</f:section>