<f:layout name="Default" />

<f:section name="main">

	<div class="content-centered">
		<h1 class="h-special"><f:translate id="list.dealer" /></h1>
	</div>
	<div class="content-line skin-box-config">
		<div class="content-centered">
			<div class="clearfix">
				<form class="unit form-distributor-search">
					<label for="location"><f:translate id="list.cityZip" /></label>
					<input type="text" id="location" class="input-text">
					<label for="location_radius"><f:translate id="list.radius" /></label>
					<f:form.select id="location_radius" name="location_radius" class="input-select" options="{settings.search.radius}" />
					<span><f:translate id="list.radius.format" /></span>
					<button type="submit" id="searchButton" class="button btn-skin-submit"><f:translate id="list.search" /></button>
				</form><a data-text-open="{f:translate(id:'list.map.open')}" class="inv-unit button ext-btn-toggle js-toggle-map"><span href="#" class="ctx-btn-icon"><f:translate id="list.map.close" /></span></a>
			</div>
		</div>
	</div>
	<div class="google-map" id="map"></div>
	<div class="content-centered">
		<ul class="inline-list distributor-search-results" id="sidebar"></ul>
	</div>

	<script type="text/javascript">
		<![CDATA[
			StoreLocatorOptions = {
				getStoresUri: "]]>{f:uri.action(action:'getStores', noCache:1, pageType: '{settings.typeNum.ajax}', additionalParams:{tx_storelocator_storelocator: {latitude:'_LATITUDE_', longitude: '_LONGITUD_', radius: '_RADIUS_'}})}<![CDATA[",
				getDefaultStoresUri: "]]>{f:uri.action(action:'getMainStores', pageType: '{settings.typeNum.ajax}', noCache:1)}<![CDATA[",
				markerIcon: "]]>{settings.marker.icon}<![CDATA[",
				useCustomInfoBox: ]]>{settings.infoWindow.useCustomInfoBox}<![CDATA[,
				region: "]]>{region}<![CDATA[",
				enableMainstoreFeature: ]]>{settings.enableMainstoreFeature}<![CDATA[,
			};


			<!-- Load jQuery Fallback -->
			var documentIsReady = false;

			//attach dom ready events
			if ( document.readyState === "complete" ) {
				// Handle it asynchronously to allow scripts the opportunity to delay ready
				setTimeout( onDomIsLoaded );

				// Standards-based browsers support DOMContentLoaded
			} else if ( document.addEventListener ) {
				// Use the handy event callback
				document.addEventListener( "DOMContentLoaded", onDomIsLoaded, false );

				// A fallback to window.onload, that will always work
				window.addEventListener( "load", onDomIsLoaded, false );

				// If IE event model is used
			} else {
				// Ensure firing before onload, maybe late but safe also for iframes
				document.attachEvent( "onreadystatechange", onDomIsLoaded );

				// A fallback to window.onload, that will always work
				window.attachEvent( "onload", onDomIsLoaded );
			}


			// on dom ready
			function onDomIsLoaded(event) {
				if ( document.addEventListener || event.type === "load" || document.readyState === "complete" ) {
					detachLoadEvents();
					if (typeof jQuery != "undefined") {
						onScriptLoaded();
					}
					else {
						detachLoadEvents();
						var newScript = document.createElement('script');
						var head = document.getElementsByTagName("head")[0];
						newScript.type = 'text/javascript';
						newScript.src = '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js';
						head.appendChild(newScript);
						newScript.onreadystatechange = newScript.onload = function() {
							var state = newScript.readyState;
							if (!documentIsReady && (!state || /loaded|complete/.test(state))) {
								documentIsReady = true;
								onScriptLoaded();
							}
						};
					}
				}
			}

			//init when my script is loaded
			function onScriptLoaded() {
				(function($) {
					// INIT here
					StoreLocator.init(StoreLocatorOptions);
				})(window.jQuery);
			}

			// Clean-up method for dom ready events
			function detachLoadEvents() {
				if ( document.addEventListener ) {
					document.removeEventListener( "DOMContentLoaded", onDomIsLoaded, false );
					window.removeEventListener( "load", onDomIsLoaded, false );
				} else {
					document.detachEvent( "onreadystatechange", onDomIsLoaded );
					window.detachEvent( "onload", onDomIsLoaded );
				}
			}

		//]]>
	</script>

</f:section>