<f:layout name="Default" />

<f:section name="main">

	<div class="content-centered">
		<h1 class="h-special"><f:translate id="list.dealer" /></h1>
	</div>
	<div class="content-line skin-box-config">
		<div class="content-centered">
			<div class="clearfix">
				<form class="unit form-distributor-search">
					<label for="location"><f:translate id="list.cityZip" /></label>
					<input type="text" id="location" class="input-text">
					<label for="location_radius"><f:translate id="list.radius" /></label>
					<f:form.select id="location_radius" name="location_radius" class="input-select" options="{settings.search.radius}" />
					<span><f:translate id="list.radius.format" /></span>
					<button type="submit" id="searchButton" class="button btn-skin-submit"><f:translate id="list.search" /></button>
				</form><a data-text-open="{f:translate(id:'list.map.open')}" class="inv-unit button ext-btn-toggle js-toggle-map"><span href="#" class="ctx-btn-icon"><f:translate id="list.map.close" /></span></a>
			</div>
		</div>
	</div>
	<div class="google-map" id="map"></div>
	<div class="content-centered">
		<ul class="inline-list distributor-search-results" id="sidebar"></ul>
	</div>

	<script type="text/javascript">
		<![CDATA[
			StoreLocatorOptions = {
				getStoresUri: "]]>{f:uri.action(action:'getStores', noCache:1, pageType: '{settings.typeNum.ajax}', additionalParams:{tx_storelocator_storelocator: {latitude:'_LATITUDE_', longitude: '_LONGITUD_', radius: '_RADIUS_'}})}<![CDATA[",
				getDefaultStoresUri: "]]>{f:uri.action(action:'getMainStores', pageType: '{settings.typeNum.ajax}', noCache:1)}<![CDATA[",
				markerIcon: "]]>{settings.marker.icon}<![CDATA[",
				useCustomInfoBox: ]]>{settings.infoWindow.useCustomInfoBox}<![CDATA[,
			};

			window.onload = function () {
				if (typeof jQuery != "undefined") {
					(function(cash) {
						//init
						StoreLocator.init(StoreLocatorOptions);
					})(window.jQuery);
				} else {
					var newScript = document.createElement('script');
					var head = document.getElementsByTagName("head")[0];

					newScript.type = 'text/javascript';
					newScript.src = '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js';
					head.appendChild(newScript);

					newScript.onload = function() {
						(function(cash) {
							//init
							StoreLocator.init(StoreLocatorOptions);
						})(window.jQuery);
					}
				}
			}
		//]]>
	</script>

</f:section>