<f:layout name="Default" />

<f:section name="main">
	<div class="storeSearch">
		<h1><f:translate id="list.dealer" /></h1>

		<form>
			<label for="location"><f:translate id="list.cityZip" /></label>
			<input type="text" id="location" class="input-text">

			<f:if condition="{settings.filter.activate.country}">
				<f:form.select id="location_country" value="{preSelectedCountry}" name="country" options="{countries}" optionLabelField="nameLocalized" sortByOptionLabel="1" prependOptionLabel="{f:translate(id:'select.country.choose')}" prependOptionValue="0" />
			</f:if>

			<f:if condition="{settings.filter.activate.radius}">
				<f:then>
					<label for="location_radius"><f:translate id="list.radius" /></label>
					<f:form.select id="location_radius" name="location_radius" class="input-select" options="{settings.filter.default.radius}" />
					<span><f:translate id="list.radius.format" /></span>
				</f:then>
				<f:else>
					<f:form.hidden value="{settings.filter.fallback.radius}" id="location_radius" name="location_radius" />
				</f:else>
			</f:if>

			<button type="submit" id="searchButton" class="button"><f:translate id="list.search" /></button>
		</form>

		<a data-text-open="{f:translate(id:'list.map.open')}" class="js-toggle-map"><span href="#" class="ctx-btn-icon"><f:translate id="list.map.close" /></span></a>

		<div class="google-map" id="map"></div>
		<div id="notification"></div>
		<ul class="inline-list distributor-search-results" id="sidebar"></ul>
		<button id="more-button" style="display:none;"><f:translate id="list.map.moreButton" /></button>

		<script type="text/javascript">
			<![CDATA[
				StoreLocatorOptions = {
					displayMode: "]]>{displayMode}<![CDATA[",

					getStoresUri: "]]>{f:uri.action(action:'getStores', noCache:1, pageType: '{settings.typeNum.ajax}', additionalParams:{tx_storelocator_storelocator: {latitude:'_LATITUDE_', longitude: '_LONGITUD_', radius: '_RADIUS_', country: '_COUNTRY_'}})}<![CDATA[",
					getDefaultStoresUri: "]]>{f:uri.action(action:'getMainStores', pageType: '{settings.typeNum.ajax}', noCache:1)}<![CDATA[",
					markerIcon: "]]>{settings.marker.icon}<![CDATA[",
					useCustomInfoBox: ]]>{settings.infoWindow.useCustomInfoBox}<![CDATA[,
					region: "]]>{region}<![CDATA[",
					defaultRadius: "]]>{settings.filter.fallback.radius}<![CDATA[",

					automaticallyIncreaseRadiusMaxResultItems: ]]>{settings.storesearch.activate.increaseradiusmaxresults}<![CDATA[,
					maxResultItems: ]]>{settings.storesearch.results.maxitems}<![CDATA[,

					labels: {
						notificationNoDealerFound: "]]>{f:translate(id:'locations.empty')}<![CDATA[",
					},

					activate: {
						mainstore: ]]>{settings.storesearch.activate.mainstore}<![CDATA[,
						automaticellyIncreaseRadius: ]]>{settings.storesearch.activate.increaseradius}<![CDATA[,
					}
				};

			//]]>
		</script>
		<f:render section="InitializeMin" partial="Javascript"/>
	</div>
</f:section>