<T3DataStructure>
	<meta>
		<langDisable>1</langDisable>
		<!--<langChildren>1</langChildren>!-->
	</meta>

	<sheets>
		<generalSheet>
			<ROOT>
				<TCEforms>
					<sheetTitle>LLL:EXT:store_locator/Resources/Private/Language/locallang_flexforms.xml:sheetTitle.general</sheetTitle>
				</TCEforms>
				<type>array</type>
				<el>
					<settings.general.google.apikey>
						<TCEforms>
							<label>LLL:EXT:store_locator/Resources/Private/Language/locallang_flexforms.xml:settings.general.activate.increaseradius</label>
							<config>
								<type>input</type>
								<default></default>
							</config>
						</TCEforms>
					</settings.general.google.apikey>

					<settings.general.activate.increaseradius>
						<TCEforms>
							<!--<displayCond>FIELD:filterSheet.settings.filter.activate.radius:=:1</displayCond>-->
							<exclude>0</exclude>
							<label>LLL:EXT:store_locator/Resources/Private/Language/locallang_flexforms.xml:settings.general.activate.increaseradius</label>
							<config>
								<type>check</type>
							</config>
						</TCEforms>
					</settings.general.activate.increaseradius>
					<settings.general.activate.mainstore>
						<TCEforms>
							<exclude>0</exclude>
							<label>LLL:EXT:store_locator/Resources/Private/Language/locallang_flexforms.xml:settings.general.activate.mainstore</label>
							<config>
								<type>check</type>
							</config>
						</TCEforms>
					</settings.general.activate.mainstore>
				</el>
			</ROOT>
		</generalSheet>
		<filterSheet>
			<ROOT>
				<TCEforms>
					<sheetTitle>LLL:EXT:store_locator/Resources/Private/Language/locallang_flexforms.xml:sheetTitle.filter</sheetTitle>
				</TCEforms>
				<type>array</type>
				<el>
					<settings.filter.activate.country>
						<TCEforms>
							<exclude>0</exclude>
							<label>LLL:EXT:store_locator/Resources/Private/Language/locallang_flexforms.xml:settings.filter.activate.country</label>
							<config>
								<type>check</type>
							</config>
						</TCEforms>
					</settings.filter.activate.country>
					<settings.filter.activate.radius>
						<TCEforms>
							<onChange>reload</onChange>
							<exclude>0</exclude>
							<label>LLL:EXT:store_locator/Resources/Private/Language/locallang_flexforms.xml:settings.filter.activate.radius</label>
							<config>
								<type>check</type>
							</config>
						</TCEforms>
					</settings.filter.activate.radius>
					<settings.filter.fallback.radius>
						<TCEforms>
							<displayCond>FIELD:settings.filter.activate.radius:=:0</displayCond>
							<exclude>0</exclude>
							<label>LLL:EXT:store_locator/Resources/Private/Language/locallang_flexforms.xml:settings.filter.fallback.radius</label>
							<config>
								<type>input</type>
								<size>10</size>
								<max>20</max>
								<eval>trim</eval>
								<default>300</default>
							</config>
						</TCEforms>
					</settings.filter.fallback.radius>
					<settings.filter.default.radius>
						<TCEforms>
							<displayCond>FIELD:settings.filter.activate.radius:=:1</displayCond>
							<exclude>0</exclude>
							<label>LLL:EXT:store_locator/Resources/Private/Language/locallang_flexforms.xml:settings.filter.default.radius</label>
							<config>
								<type>input</type>
								<size>20</size>
								<eval>trim</eval>
								<default>10,20,30,40,50,100,150</default>
							</config>
						</TCEforms>
					</settings.filter.default.radius>
				</el>
			</ROOT>
		</filterSheet>
	</sheets>


</T3DataStructure>
