<div class="map-tooltip-shadow"></div>
<f:if condition="{settings.infoWindow.useCustomInfoBox}">
	<f:then>
		<div class="map-tooltip-inner">
			<strong>{store.name -> f:format.htmlentitiesDecode()}</strong><br>
			{store.street}<br>
			{store.zipcode} {store.city}<br>
			Telefon {store.phone}<br>
		</div>
		<div class="map-tooltip-pointer"></div>
	</f:then>
	<f:else>
		<strong>{store.name -> f:format.htmlentitiesDecode()}</strong><br>
		{store.street}<br>
		{store.zipcode} {store.city}<br>
		Telefon {store.phone}<br>
	</f:else>
</f:if>
