<table class="tx-store-locator" >
	<tr>
		<td>
			<f:translate key="tx_storelocator_domain_model_store.title" />
		</td>
		<td>
			{store.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_storelocator_domain_model_store.address" />
		</td>
		<td>
			{store.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_storelocator_domain_model_store.city" />
		</td>
		<td>
			{store.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_storelocator_domain_model_store.zipcode" />
		</td>
		<td>
			{store.zipcode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_storelocator_domain_model_store.country" />
		</td>
		<td>
			{store.country}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_storelocator_domain_model_store.latitude" />
		</td>
		<td>
			{store.latitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_storelocator_domain_model_store.longitude" />
		</td>
		<td>
			{store.longitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_storelocator_domain_model_store.url" />
		</td>
		<td>
			{store.url}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_storelocator_domain_model_store.description" />
		</td>
		<td>
			{store.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_storelocator_domain_model_store.email" />
		</td>
		<td>
			{store.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_storelocator_domain_model_store.phone" />
		</td>
		<td>
			{store.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_storelocator_domain_model_store.logo" />
		</td>
		<td>
			{store.logo}
		</td>
	</tr>
</table>